# SPDX-FileCopyrightText: (C) The Kokkos-FFT development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT OR Apache-2.0 WITH LLVM-exception

# Clean old Docker and Apptainer images that are too old periodically or
# manually.

name: Cleanup base images

on:
  schedule:
    - cron: "0 3 2,16 * *" # every 2nd and 16th of the month at 3am UTC
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Cleanup old images
        uses: SmartsquareGmbH/delete-old-packages@e207ebd412f87647d9c35325e270c2156318c51c  # v0.8.1
        with:
          organization: kokkos
          type: container
          names: |
            kokkos-fft/base_nvcc
            kokkos-fft/base_nvcc_apptainer
            kokkos-fft/base_rocm
            kokkos-fft/base_gcc
            kokkos-fft/base_clang
            kokkos-fft/base_intel
