# SPDX-FileCopyrightText: (C) The Kokkos-FFT development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT OR Apache-2.0 WITH LLVM-exception

name: CI (python)

on:
  pull_request:
    branches: [ "main" ]
  
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Install dependencies and package with test extras
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade hatch "virtualenv<21"
          cd python_scripts && hatch build && pip install .

      - name: Analysing the code with pylint
        run: |
          pylint --rcfile=python_scripts/.pylintrc $(git ls-files 'examples/**/*.py' 'python_scripts/*.py')
      
      - name: Test with pytest
        run: pytest examples/09_derivative python_scripts

      - name: Check versions information in docs
        run: |
          python python_scripts/check_versions.py
