# SPDX-FileCopyrightText: (C) The kokkos-fft development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT OR Apache-2.0 WITH LLVM-exception

name: CI (python)

on:
  pull_request:
    branches: [ "main" ]
  
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Install dependencies and package with test extras
        run: |
          python -m pip install --upgrade pip
          pip install hatch
          cd python_scripts && hatch build && pip install .

      - name: Analysing the code with pylint
        run: |
          pylint --rcfile=python_scripts/.pylintrc $(git ls-files 'examples/**/*.py')
      
      - name: Test with pytest
        run: pytest examples/09_derivative

      - name: Check versions information in docs
        run: |
          cd python_scripts
          python check_versions
