# SPDX-FileCopyrightText: (C) The kokkos-fft development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT OR Apache-2.0 WITH LLVM-exception

name: Website tests

on:
  schedule:
    - cron: "0 1 * * 0"  # At 01:00 on Sunday.
  workflow_dispatch:
  
jobs:
  links-check:
    name: Links check using linkchecker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - name: Install linkchecker
        run: |
          pipx install linkchecker
      - name: Analysing the links of the website
        run: |
          linkchecker --config=.linkcheckerrc --check-extern https://kokkosfft.readthedocs.io/en/latest/
